{% load staticfiles %}

<h1> Résultats </h1>

{% if experiment_list %}
    <ul>
    <center>
    {% for experiment in experiment_list %}
    	<a href="{% url 'plates:plate' experiment.id %}">
        <li>{{ experiment }}</li>
        {% if user.is_authenticated %}
	        <img src="{% static experiment.plate_setup_location %}" width=900 height=525 alt = 'Plate setup'></a>
	    {% endif %}
    {% endfor %}
    </center>
    </ul>
{% else %}
    <p>No experiments are available.</p>
{% endif %}

{%if not user.is_authenticated %}
	<a href = "{% url 'login' %}?next=/plates/">Login<a/>
{%endif%}

